<h1>New Figure</h1>
<form method="post" action="/figures">
  <p>Figure Name: <input id="figure_name" type="text" name="figure[name]"></p>
  <h2>Select Existing: </h2>
  <h3>Titles</h3>
  <% Title.all.each do |title| %>
    <p><%=title.name %><input id="title_<%=title.id%>" type="checkbox" name='figure[title_ids][]' value="<%= title.id %>"></p>
  <% end %>
  <h3>Landmarks</h3>
  <% Landmark.all.each do |landmark| %>
    <p><%=landmark.name %><input id="landmark_<%=landmark.id%>" type="checkbox" name='figure[landmark_ids][]' value="<%= landmark.id %>"></p>
  <% end %>
  <h2>Create New: </h2>
  <p>Landmark Name: <input id="new_landmark" type="text" name="landmark[name]"></p>
  <p>Title Name: <input id="new_title" type="text" name="title[name]"></p>
  <input type="submit" value="Create New Figure">
</form>

